.y {
    border-top: 2px solid #f4f2f1;
    margin-bottom: 60px;
    main {
        width: 980px;
        margin: 0 auto;
        padding-top: 20px;
        .tags {
            border-bottom: 1px solid #2BCF61;
            overflow: hidden;
            margin-bottom: 6px;
            .tag {
                cursor: pointer;
                font-size: 13px;
                font-weight: 600;
                color: #999;
                margin: 0 10px;
                padding: 0 6px;
                border-top-right-radius: 2px;
                border-top-left-radius: 2px;
                float: left;
                .num {
                    font-size: 12px;
                    margin-left: 4px;
                    padding: 0 2px;
                    background-color: #f4f2f1;
                    border-radius: 2px;
                }
                &:hover {
                    background-color: #f4f2f1;
                }
            }
            .selected {
                color: #fff;
                background-color: #2BCF61;
                .num {
                    background-color: #2BCF61;
                }
                &:hover {
                    background-color: #2BCF61;
                }
            }
        }
        b {
            color: #2BCF61;
        }
        .search {
            .area {
                width: 400px;
                height: 25px;
                .input {
                    line-height: 25px;
                    height: 25px;
                }
                .button {
                    font-size: 12px;
                    height: 25px;
                }
            }
        }
        ol {
            font-size: 13px;
            color: #666;
            li {
                padding: 6px 2px;
                img {
                    width: 16px;
                    margin-right: 4px;
                    float: left;
                }
                .info {
                    overflow: hidden;
                }
                a {
                    color: #aaa;
                    display: block;
                    border-radius: 2px;
                    &:hover {
                        background-color: #f4f2f1;
                    }
                }
                .title {
                    color: #333;
                }
            }
        }
    }
}