.home {
    border-top: 2px solid #f4f2f1;
    .banner {
        width: 200px;
        margin: 170px auto 0 auto;
        img {
            width: 100%;
        }
    }
    .search {
        display: flex;
        justify-content: center;
        .area {
            width: 600px;
        }
    }
    .note {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        font-size: 15px;
        color: #95989a;
        b {
            font-weight: 700;
            color: #2BCF61;
            margin: 0 2px;
        }
    }
    .blogs {
        width: 800px;
        margin: 0 auto;
        padding-top: 30px;
        h1 {
            font-size: 18px;
            color: #999;
        }
        ul {
            overflow: hidden;
            margin-left: -2%;
        }
    }
}