.home {
   .logo {
      padding-top: 100px;
      width: 300px;
      margin: 0 auto;
      img {
         width: 100%;
      }
   }
   .hotboard {
      top: 0!important;
   }
   .button {
      top: 0!important;
   }
   .topic {
      width:900px;
      font-size: 12px;
      margin: 10px auto 0 auto;
      color: #666;
      text-align: center;
      .one {
         line-height: 40px;
         padding: 5px 10px;
         margin-right: 10px;
         background: #f3f3f3;
         cursor: pointer;
         a {
            text-decoration-line: none;
         }
      }
   }
   @media (max-width: 480px)  {
   }
}
