.home {
   margin-top: 100px;
   .logo {
      width: 200px;
      margin: 0 auto;
      img {
         width: 100%;
      }
   }
   .hotboard {
      top: 0!important;
   }
   .button {
      top: 0!important;
   }
   .note {
      color: #ccc;
      width: 600px;
      margin: -15px auto 0 auto;
      text-align: center;
   }
   @media (max-width: 480px)  {
      .note {
         width: 100%;
         padding: 0 10px;
         box-sizing: border-box;
      } 
   }
}
