.header {
    position: relative;
    background: #f4f2f1;
    line-height: 45px;
    height: 45px;
    .logo {
        position: absolute;
        top: -10px;
        left: 30px;
        cursor: pointer;
        img {
            width: 120px;
        }
    }
    .container {
        overflow: hidden;
        width: 980px;
        margin: 0 auto;
        .links {
            margin-right: 60px;
            margin-left: 10px;
            span {
                position: relative;
                cursor: pointer;
                font-size: 13px;
                margin-right: 30px;
                display: inline-block;
                font-weight: 600;
                color: #999;
                text-decoration: none;
                &:hover{
                    color: #2BCF61;
                }
                .num {
                    background-color: #2BCF61;
                    border-radius: 50%;
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    top: 10px;
                    color: #fff;
                    position: absolute;
                }
                .tri {
                    visibility: hidden;
                    position: absolute;
                    bottom: 0;
                    left: 37px;
                    border-left: 8px solid transparent;
                    border-top: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-bottom: 8px solid #fff;
                }
            }
            .hot {
                color: #2BCF61;
                width: 80px;
            }
            .active {
                font-size: 16px;
                .tri {
                    visibility: visible;
                }
            }
            @media (max-width: 400px) {
                span {
                    margin-right: 10px;
                }
            }
        }
        .user {
            position: absolute;
            right: 20px;
            top: 0;
            .login {
                cursor: pointer;
                font-size: 12px;
                border-radius: 2px;
                text-decoration: none;
                background-color: #2BCF61;
                color: #fff;
                padding: 4px 10px;
            }
            .avatar {
                width: 30px;
                border-radius: 4px;
                padding-right: 10px;
                position: relative;
                img {
                    width: 30px;
                    cursor: pointer;
                }
                .dropdown {
                    border-radius: 4px;
                    display: block;
                    z-index: 9;
                    font-size: 12px;
                    color: #999;
                    box-sizing: border-box;
                    position: absolute;
                    right: 0;
                    bottom: -68px;
                    width: 150px;
                    background-color: #f4f2f1;
                    .tri {
                        position: absolute;
                        right: 10px;
                        top: -20px;
                        border: 10px solid #f4f2f1;
                        border-right-color: transparent;
                        border-left-color: transparent;
                        border-top-color: transparent;
                    }
                    .link {
                        text-decoration: none;
                        display: block;
                        padding: 4px 10px;
                        line-height: 20px;
                        margin-left: 2px;
                        &:hover {
                            cursor: pointer;
                            background: #2BCF61;
                            color: #fff;
                        }
                    }
                    .line {
                        width: 100%;
                        height: 1px;
                        background-color: #e5e2e2;
                    }
                }
            }
        }
    }
}