.search-page {
    .header {
        .container {
            width: auto;
            .links {
                float: right;
            }
        }
        @media (max-width: 480px) {
            .container {
                .links {
                    display: none;
                }
                .user .login {
                    display: none;
                }
            }
        }
    }
    main {
        display: flex;
        box-sizing: border-box;
        height: calc(100vh - 100px);
        .aside-list {
            width: 600px;
        }
    }
    .result-list {
        width: 600px;
        border-right: 1px solid #eceef1;
        .result-wrap {

        }
        .result {
            height: calc(100vh - 100px);
            overflow-y: overlay;
            padding-left: 60px;
        }
        .abstract {
            border-bottom: 1px solid #eceef1;
            line-height: 45px;
            background: #f4f8fb;
            padding-left: 60px;
        }
        @media (max-width: 480px) {
            .abstract {
                width: auto;
            }
        }
    }
    @media (max-width: 480px)  {
        .result-list {
            margin-left: 15px;
            width: auto;
            .result {
                height: calc(100vh - 180px);
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;
            }
        }
    }
}
