.search-page {
    .header {
        .container {
            width: auto;
            .links {
                float: right;
            }
        }
    }
    .search-header {
        position: absolute;
        left: 0;
        top: 10px;
        .logo {
            cursor: pointer;
            width: 120px;
            position: absolute;
            left: 40px;
            top: -16px;
        }
        .area {
            margin-left: 160px;
            width: 600px;
        }
    }
    .result-list {
        margin-left: 160px;
        width: 600px;
        margin-bottom: 100px;
        .result {
            margin-bottom: 20px;
            .timeAgo {
                color: #bbbbbb;
            }
            .link {
                display: inline-block; 
                white-space: nowrap;
                width: 490px; 
                overflow: hidden; 
                text-overflow:ellipsis;
            }
            li {
                list-style: none;
                color: #333;
                margin-top: 20px;
                padding: 5px;
                cursor: pointer;
                font-size: 13px;
                border: 1px solid transparent;
                &:hover {
                    border:1px solid #f4f2f1;
                }
                .title {
                    font-size: 15px;
                    position: relative;
                    img {
                        width: 120px;
                    }
                    .avatar {
                        position: absolute;
                        width: 20px;
                        left: -25px;
                    }
                    .avatarIcon {
                        position: absolute;
                        font-size: 25px;
                        left: -30px;
                    }
                }
            }
        }
        .top5 {
            background: #f4f2f1;
        }
        .abstract {
            background: #f4f2f1;
            width: 602px;
            font-size: 13px;
            box-sizing: border-box;
            padding: 8px 10px;
            margin-top: 4px;
            border-left: 2px solid #ccc;
            .sort {
                float: right;
                position: relative;
                cursor: pointer;
                b {
                    font-size: 12px;
                }
                .selection {
                    display: none;
                    z-index: 9;
                    box-shadow: 2px 2px 2px rgba(170,170,170,0.5);
                    font-size: 12px;
                    color: #999;
                    box-sizing: border-box;
                    position: absolute;
                    right: 0;
                    bottom: -45px;
                    height: 34px;
                    width: 70px;
                    background-color: #f4f2f1;
                    .tri {
                        position: absolute;
                        left: 30px;
                        top: -5px;
                        border: 5px solid #f4f2f1;
                        border-right-color: transparent;
                        border-left-color: transparent;
                        border-bottom-color: transparent;
                    }
                    .order {
                        padding: 0 10px;
                        margin-left: 2px;
                        &:hover {
                            background: #999;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .star-button {
            box-shadow: 2px 2px 2px rgba(170,170,170,0.5);
            font-size: 12px;
            line-height: 20px;
            height: 20px;
            background-color: #f4f2f1;
            border-color: #f4f2f1;
            margin: 0 2px;
            color: #666;
        }
        .star-button span {
            float: right;
            margin-top: -2px;
        }
        .plus {
            margin:0 4px 0 20px;
            font-weight: 700;
        }
        .minus {
            margin: 0 4px;
            font-weight: 700;
        }
        .octicon {
            height: 12px;
        }
        li :hover {
            color: #666;
        }
    }
}