.types {
    width:900px;
    margin: 0 auto 5px auto;
    color: #666;
    font-size: 12px;
    font-weight: 600;
    .type {
        line-height: 30px;
        border-radius: 15px;
        padding:5px 20px;
        cursor: pointer;
        &:hover {
            background: rgba(45, 207, 98, 0.1);
            color: #2DCF62;
        }
    }

    .active {
        background: rgba(45, 207, 98, 0.1);
        color: #2DCF62;
    }
}
.search {
    display: flex;
    justify-content: center;
    @media (max-width: 480px) {
        .area {
            width: 90%!important;
        }
    }
    box-sizing: border-box;
    .header .container {
        width: auto;
    }
    .area {
        display:inline-block;
        border-radius: 4px;
        position: relative;
        width: 900px;
        .eye {
            height: 20px;
            width: 20px;
            border-radius: 20px;
            position: absolute;
            right: 10px;
            top: 12px;
            background: #fff;
            #inner {
                width: 10px;
                height: 10px;
                border-radius: 10px;
                background: #000;
                margin: 5px;
            }
        }
        .hotboard {
            cursor: pointer;
            font-size: 13px;
            font-weight: 600;
            line-height: 30px;
            color: #fff;
            background: #ccc;
            position: absolute;
            right: 90px;
            top: 13px;
            padding: 0 10px;
            width: 60px;
            box-sizing: border-box;
            text-align: center;
            .dropdown {
                display: inline-block;
                width: 0;
                height: 0;
                vertical-align: middle;
                content: "";
                border-top-style: solid;
                border-top-width: 4px;
                border-right: 4px solid transparent;
                border-bottom: 0 solid transparent;
                border-left: 4px solid transparent;
                margin-left: 2px;
            }
            &:hover {
                .hidden {
                    display: inline;
                }
            }
            .hidden {
                display: none;
                position: absolute;
                color: #87969d;
                top: 30px;
                right: 0;
                z-index: 900;
                height: 80px; width: 60px;
                border: 1px solid #ccc;
                background: #f4f8fb;
                border-bottom-left-radius: 2px;
                border-bottom-left-radius: 2px;
                .up {
                    position: absolute;
                    border: 5px solid #f4f8fb;
                    border-left-color: transparent;
                    border-right-color: transparent;
                    border-top-color: transparent;
                    top: -10px;
                }
                .one {
                    width: 58px;
                    text-align: center;
                    line-height: 20px;
                    height: 20px;
                    font-size: 13px;
                    float: left;
                    svg {
                        position: absolute;
                        fill: #87969d;
                        left: 0;
                    }
                    &:hover {
                        background: #2BCF61;
                        color: #fff;
                        svg {
                            fill: #fff;
                        }
                    }
                }
            }
        }
        .input {
            border: 1px solid #eceef1;
            border-right: none;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            box-sizing: border-box;
            width: 85%;
            font-size: 14px;
            padding-left: 30px;
            height: 45px;
            font-weight: 600;
            &:focus {
                border-color: #2BCF61;
            }
            &::placeholder {
                color: #cacaca;
            }
        }
        .button {
            position: absolute;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background-color: #2BCF61;
            color: #fff;
            right: 0;
            top: 13px;
            cursor: pointer;
            outline: none;
            border: none;
            text-align: center;
            font-size: 17px;
            line-height: 45px;
            height: 45px;
            width: 15%;
            font-weight: 700;
        }
        .yblog {
            cursor: pointer;
            color: #87969d;
            font-size: 12px;
            position: absolute;
            top: 2px;
            font-weight: 600;
            right: -65px;
            width: 60px;
            &:hover {
                color: #2BCF61;
                .icon {
                    background-color: #2BCF61;
                }
            }
            .icon {
                position: absolute;
                right: 4px;
                top: 20px;
                background-color: #87969d;
                height: 7px; width: 7px;
                border-radius: 7px;
            }
        }
        @media (max-width: 480px) {
            .button {
                width: 25%;
            }
        }
    }
}
